.app {
  text-align: center;
  background-color: #031e3b;
}

.card {
  border-radius: 0rem !important;
  color: white !important;
}

.card-content {
  background-color: #043263;
  min-height: 60rem;
}

.card-header {
  background-color: #043263;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

#filled-basic,
#filled-select-currency {
  color: white !important;
}

.MuiSelect-icon {
  color: white !important;
}

.menu-item {
  color: black !important;
}

.align-left {
  text-align: left;
}

.margin-bottom {
  margin-bottom: 1rem !important;
}

.button-border {
  border-radius: 0rem !important;
}

.capturePalm {
  background-color: #1565c0;
  color: white;
  padding: 13px 20px;
}

.webcam {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.without-margin-top {
  margin-top: 0.25rem !important;
}

p {
  font-size: 10px;
}

.accounts {
  color: #8f8f8f;
}

.data-accounts {
  color: #7aa0b6 !important;
}
